$color-dark-dark: #222831;
$color-dark-light: #393e46;
$color-red-primary: #ff0800;
$color-red-secondary: #ff7878;
$color-white: #ffffff;
$color-green-primary: #378b29;
$color-green-secondary: #74d680;
$size: 20rem;
$leaf-color: #7dae41;
$trunk-color: #855726;
$bg: red;
