.header__primary {
  position: relative;
  z-index: 1;
  height: 95vh;
  width: 100%;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-dark-light, 0.801),
      rgba($color-dark-dark, 0.803)
    ),
    url("/src/images/header-bkgrd.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 49% 81%, 0 100%);

  &-bkgrd {
    position: relative;
    z-index: -1;

    height: 100%;
    &-lights {
      display: flex;
      justify-content: space-around;
      &-left {
        position: relative;
      }
      &-right {
        position: relative;
      }
    }
  }
  &-logo {
    font-size: 10rem;
    display: flex;
    justify-content: center;
  }
  &-title {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 4rem;
    font-size: 4rem;
    margin-bottom: 20rem;
    color: $color-red-primary;

    font-weight: 700;
    &-main {
      font-size: 7rem;
      animation: moveInRight 1s ease;
    }
    &-sub {
      font-size: 5rem;
      animation: moveInLeft 1s ease;
    }
  }
}
